html, body {
    margin: 0;
    overflow: hidden;
}

p, a, span, div {
    user-select: none;
}

.main-grid {
    display: grid;
    grid-template-columns: 18vw 82vw;
    grid-template-rows: 10% 90%;
    gap: 0;

    width: 100vw;
    height: 100vh;
}

#toolbar {
    background-color: #ff0043;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#toolbar button {
    border: none;
    background: none;
    width: 4vw;
    height: 4vw;
}
#toolbar button:hover {
    filter: saturate(3) contrast(3) drop-shadow(-3px -3px 0 white) drop-shadow(3px 3px 0 white);

    cursor: pointer;
}
#toolbar button img {
    width: 100%;
    height: 100%;
}

#slides {
    background-color: #009bff;
    grid-column: 1;
    grid-row: 2;

    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    padding: 1vw;

    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: black #ff0043;
}

.slide-thumbnail {
    width: 16vw;
    height: 9vw;

    margin-bottom: 1vw;

    background-color: white;

    overflow: hidden;
    box-sizing: border-box;
    border: none;

    img {
        position: relative;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;

        pointer-events: none;
    }
}
.slide-thumbnail button {
    width: 100%;
    height: 100%;

    background: none;
    border: none;
    
    cursor: pointer;
}

.addPage {
    width: 16vw;
    height: 3vw;

    margin-bottom: 1vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.addPage button {
    width: 3vw;
    height: 3vw;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#editor {
    background-color: #ff8500;
    grid-column: 2;
    grid-row: 2;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#currentSlide {
    width: 70vw;
    height: 39vw;
}
.editslide {
    width: 100%;
    height: 100%;

    background-color: white;

    position: relative;
    top: 0;
    left: 0;

    display: none;
    overflow: hidden;
}

.thumb-focused {
    border: 6px solid #ff0043;
}
.slide-focused {
    display: block;
}

.obj {
    box-sizing: border-box;
    position: absolute;
    pointer-events: all;
}
div.obj {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
iframe.obj {
    width: 100%;
    height: 100%;

    border: none;

    pointer-events: none;
}
.obj:hover {
    border: dotted 2px #ff0043;
    background-color: #ff84002f;
}

.locked {
    pointer-events: none;
    filter: grayscale(2);
}
.checkered {
    z-index: 0;
}

.infoline {
    font-size: 2em;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.infoline::first-letter {
    font-size: 1.5em;
    font-weight: 900;
    color: #ff0043;
}
.infoline:nth-child(even) {
    color: #ff8500;
}
.infoline:nth-child(odd) {
    color: #009bff;
}
.infoline:hover {
    border: dotted 2px #ff0043;
    background-color: #ff84002f;
}