:root {
    --s: 1;
}

body {
    background-color: black;
    color: white;
}

input {
    background: black;
    color: lime;
    border: 1px dotted white;
    border-radius: 0;
    width: 100%;
}

.point {
    position: absolute;

    width: 2px;
    height: 2px;

    border-radius: 999px;
    transform-origin: 50%;
    animation-name: spin;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#pointValues {
    width: 100px;
}

#pointName {
    margin-bottom: .2em;
}

@keyframes spin {
    0% {
    }
    50% {
    }
    100% {
    }
}

@media print {
  input, label, p, #pointValues {
    display: none;
  }
}