html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    flex-direction: column;
}

#background {
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: black;
}
.point {
    position: absolute;

    width: 4px;
    height: 4px;

    border-radius: 999px;
    transform-origin: 50%;
}
.spins {
    animation: pointAnim 32s linear infinite;
}
@keyframes pointAnim {
    0% { rotate: 0deg }
    100%{ rotate: 360deg }
}

#text-container {
    margin: auto;

    width: 70vw;
    height: 39vw;
    
    background: url("assets/scrap-paper.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
    filter: saturate(10) drop-shadow(0 0 30px white);
}

#text {
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: .2vh black;

    margin: 5% 25%;

    overflow: hidden;
    
    text-align: left;
}

@keyframes incant {
    0% {
        background: url("assets/scrap-paper.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;

        width: 15vw;
        height: 15vw;
    }
    1% {
        background: url("assets/ball-paper.webp");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;

        width: 15vw;
        height: 15vw;

        transform: rotate(0deg);
    }
    2% {
        transform: rotate(-15deg);
    }
    4% {
        transform: rotate(15deg);
    }
    5% {
        transform: rotate(0deg);
    }
    15% {
        transform: translateY(0);
    }
    30% {
        background: url("assets/ball-paper.webp");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        
        width: 35vw;

        transform: translateY(150vh);
    }
    50% {
        background: url("../divbrush/assets/flames.gif");
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-position: center;
        
        width: 100vw;
    }
    70% {
        transform: translateY(40vh);
    }
    75% {
        transform: translateY(45vh);
    }
    80% {
        transform: translateY(40vh);
    }
    85% {
        transform: translateY(45vh);
    }
    90% {
        background: url("../divbrush/assets/flames.gif");
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-position: center;

        transform: translateY(150vh);
        
        width: 100vw;
    }
    95% {
        background: url("assets/scrap-paper.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;

        width: 35vw;
    }
    100% {
        transform: translateY(0);
    }
}

#textStyles {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    width: 100vw;

    z-index: 999;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1vw;

    padding: 1vw;

    .container {
        width: 8vw;
        height: 3vw;
    
        box-sizing: content-box;
        border-radius: 99%;
    
        background: url(assets/stone.jpg);
        background-size: auto 100%;
        filter: brightness(2);
    
        display: none;
        align-items: center;
        justify-content: center;
    }

    .save {
        width: 4vw;
        height: 4vw;
        padding: 0;
    
        border: none;
    
        background: url(../divbrush/assets/ui_saver.webp);
        background-size: 100% 100%;
        filter: brightness(2);
    }
    .save:hover {
        box-shadow: none;
        filter: brightness(2) drop-shadow(0 0 20px lightgray);
    }

    button {
        height: 3vw;
        padding: 0 1vw 0 1vw;
    
        margin: auto;
    
        box-sizing: content-box;
        border-radius: 99%;
    
        background: url(assets/stone.jpg);
        background-size: auto 100%;
        filter: brightness(2);
    
        transition: .1s;
    }
    button:hover {
        cursor: pointer;
    
        box-shadow: lightgray 0 0 15px 2px;
        filter: brightness(2) invert(2);
    }
    button:nth-child(odd) {
        animation: wiggle 4s -1s linear infinite;
    }
    button:nth-child(even) {
        animation: wiggle 4s linear infinite;
    }
}
@keyframes wiggle {
    0%, 100% { rotate: -15deg; }
    50% { rotate: 15deg; }    
}

@keyframes shake {
    0%, 100% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
}
@keyframes drip {
    0% {
        text-shadow: 0 0 0 black;
    }
    19% {
        text-shadow: 0 10px 5px transparent;
    }
    20% {
        text-shadow: 0 0 0 black;
    }
    49% {
        text-shadow: 0 10px 5px transparent;
    }
    50% {
        text-shadow: 0 0 0 black;
    }
    100% {
        text-shadow: 0 10px 5px transparent;
    }
}
@keyframes wave {
    0%, 100% {
        text-shadow: 0 0 2px blue;
    }
    25%, 75% {
        text-shadow: 0 0 5px blue;
    }
    50% {
        text-shadow: 0 0 10px blue;
    }
}