body {
    background-image: url(images/404bg.webp);
    background-repeat: repeat;
    background-size: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    margin: 0; padding: 0;

    overflow: hidden;
    animation: bgscroll 16s linear infinite;
}
@keyframes bgscroll {
    0% { background-position: 0% 0%; }
    50% { background-position: 50% 50%; }
    100% { background-position: 100% 100%; }
}