body {
    width: 100vw;

    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    background-image: url(./assets/page/background.jpg);
    background-size: 20vw;
    background-position: 0 0;

    animation: bganim 8s linear infinite;
}
@keyframes bganim {
    0% { background-position: 0 0; }
    100% { background-position: 20vw 20vw; }
}
.tab {
    width: 13%;
    height: 90vh;
        
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: silver white;

    display: flex;
    flex-direction: column;
    gap: .5em;

    margin: auto 0 auto 2vw;
    padding: .5em;

    background: white;
    box-sizing: border-box;
    border: 10px groove silver;

    section {
        font-weight: bolder;
    }
    .tab-link {
        width: 100%;
    
        border: none;
        border-left: 6px groove silver;
        border-radius: 0;

        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-size: 1em;
        text-align: left;
        
        background: none;
        color: silver;

        transition: .2s ease-out;
    }
    .tab-link:hover {
        border-left: 16px groove silver;
    }
    .tab-link:focus {
        border-left: 32px groove #91e4a3;
    }
    .active {
        border-left: 32px groove #91e4a3;

        color: #60986C;
    }
}
.tab-content {
    display: none;
    width: 75vw;
    height: 90vh;
    margin: 5vh 5vw;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: silver white;

    text-align: justify;

    background-color: white;
    border: 10px groove silver;
    box-sizing: border-box;

    padding: 1vh 10vw;

    .recipe-container {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-bottom: 10vh;

        .recipe {
            width: 40%;
            padding: .5em 1.5em .5em 1.5em;

            background-color: #ffcdbc;
            border: 10px groove orangered;

            img {
                width: 100%;
                box-sizing: border-box;
                border: 6px double red;
            }
            ul {
                list-style: square outside;
                margin: .25em 0
            }
            h3 {
                font-size: 2em;
                margin: 0 0 .25em 0;
                color: orangered;
                background: none;
                border: none;
            }
        }
    }
    code {
        border-top: silver groove .25em;
        border-left: silver groove .25em;
        border-right: #4e4e4e groove .25em;
        border-bottom: #4e4e4e groove .25em;
        background-color: rgb(235, 235, 235);
        font-family: 'Courier New', Courier, monospace;
        font-size: .65em;
        padding: 0 .25em;
        vertical-align: .25em;
        display: inline-block;
    }
    img {
        border: 3px red;
        box-sizing: border-box;
        border-style: dotted dotted solid dotted;
    }
    .caption {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: .9em;

        background-color: yellow;
        color: red;
        padding: .25em .5em;
        margin-top: -.25em;
    }
    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2em;
        color: red;
        background: lime;

        border-top: solid red .1em;
        border-bottom: solid red .1em;

        padding: .1em 0;
    }
    h3 {
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: red;
        background: yellow;

        border-top: dashed red .1em;
        border-bottom: dashed red .1em;

        padding: .1em 0;
    }
    i {
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        text-decoration: underline wavy magenta;
    }
    b {
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 900;
        font-size: 1.2em;
        background-color: black;
        color: black;
        -webkit-text-stroke: white 1px;
        padding: 0 .25em;
    }
    a {
        font-weight: 900;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: -.05em;
        color: orange;
        text-shadow: lime 0 0 .25em;
        text-decoration: none;
    }
    a::before {
        vertical-align: -.25em;
        content: "<";
    }
    a::after {
        vertical-align: .25em;
        content: ">";
    }
    ul {
        list-style: "🝕 " outside;
        margin: .25em 0;
        padding-left: 0;
    }
    ul li:nth-child(odd)::-moz-list-bullet {
        color: magenta;
    }
    ul li:nth-child(even)::-moz-list-bullet {
        color: blue;
    }
    ul.intro {
        list-style: "" outside;
        margin: 0;
        padding-left: 0;
    }
    ul.intro li {
        padding-bottom: 10px;
    }
    ul.intro li:nth-child(odd) {
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: -.05em;
    }
    ul.intro li:nth-child(even) {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 2em;
        -webkit-text-stroke: black .05em;
    }
    ol li {
        padding: .5em 0;
    }
    ol li::-moz-list-number {
        padding: .5em 0;
        font-weight: bolder;
        font-size: 1.5em;
    }
    ol li:nth-child(odd)::-moz-list-number {
        color: red;
    }
    ol li:nth-child(even)::-moz-list-number {
        color: blue;
    }
}